
  .user-list {
    border-collapse: collapse;
    width: 100%;
  }
  
  .user-list th,
  .user-list td {
    padding: 5px;
  }
  
  .user-list th {
    background-color: #ccc;
  }

  .user-list tr:nth-child(even) {
    background-color: #ADD8E6;
}

.table-filter-row input {
    width: 100%;
    border: 1px solid black;
    padding: 0;
  }