/* App.css */

body {
    font-family: Arial, sans-serif;
    padding-top: 0; /* Adjust based on the height of your header */
    padding-bottom: 0; /* Adjust based on the height of your footer */
    background-color: #f5f5f5; /* This is a light gray color, replace with the color you want */
}


input[type="text"], input[type="password"], input[type="email"] {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
}


button:hover{
    opacity: 0.8;
    background-color: #008CBA; /* Blue */  
}

button, input[type="submit"] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 0.7em;
}

h1, h2 {
    color: #333;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

a{
    text-decoration: none;
}

/* Header.css */
.Header {
    width: 100%;
    background-color: #f8f9fa; /* This is a light gray color, replace with the color you want */
    padding: 20px 0;
    z-index: 1000;
}

.Header h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

/* Footer.css */
.Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


.Footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
table th,
table td {
    padding: 5px;
  }
  
table th {
    background-color: #ccc;
  }

table tr:nth-child(even) {
    background-color: #ADD8E6;
}

